

body {
	background-color: #13AD94;
	color: #7A0000;
}


p {
	line-height:1.3;
	font:Tahoma;
	color:#FFCC00;
	padding:10px;
}


h1 {
	color: #FFCC00;
	font-size:2;
}


h2 {
	color: #FFCC00;
	padding:10px;
	text-align:left;
	margin-left:10px;
	
}


h3 {
	color: #FFCC00;
	padding:10px;
	text-align:left;
	
}


ul {
	position:fixed;
	list-style-type: none;
	margin: 0px;
	padding: 15px;
	overflow: hidden;
	background-color: #007A7A;
	height:40px;
	width:1500px;
	right:0px;
	left:0px;
	top:0px;
}


li {
	float: left;
	padding-right:50px;
	padding-left:85px;
}


a:link{
	color: #FFCC00;
	text-decoration: none;
	target: _blank;
	color: #000000;
	font-weight: bold;
}


a:visited{
	color: #FFCC00;
	text-decoration: none;
}


a:hover{
	color: #007A7A;
}


a:active{
	color: white;
}


tr {
	padding:10px;
}

td {
	padding:10px;
}

#image {
	
	width:400px;
	height:400px;
	padding:10px;
	border-radius:50px;
	border: 5px solid #007A7A;
	background-color: #FFCC00;
}

#c {
	
	position:fixed;
	list-style-type: none;
	margin: 0px;
	padding: 10px;
	overflow: hidden;
	height:40px;
	width:1290px;
	right:0px;
	left:0px;
	bottom:0px;
	color: #7E8583;
}

#box {
	border: 15px solid #FFCC00;
	background-color: #007A7A;
	text-align:left;
	padding:20px;
	border-radius:50px;
	margin-left:15px;
	margin-right:15px;
}

#banner {
	background-image: "image_0092.jpg";
	height:40px;
	width:1500px;
	right:0px;
	left:0px;
	top:0px;
}









